* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(44, 36, 36);
  /* align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  place-content: center; */
}

.header {
  background-color: #063031;
  font-family: inherit, sans-serif;
  text-align: center;
}

.header-part-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.header-user {
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 30px;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 150px;
}

.header-user-name {
  align-self: center;
  display: flex;
}

nav {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 45px;
  justify-content: space-around;
  text-align: center;
}

.link {
  text-decoration: none;
}

.link-to-search {
  background-color: brown;
  text-decoration: none;
}

.result-album-container {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.result-album {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px 0;
}


form {
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  margin-top: 20px;
  place-content: center;
}

.input-pesquisa {
  border-color: darkmagenta;
  border-radius: 6px;
  border-style: solid;
  font-size: 1rem;
  height: 38px;
  outline: transparent;
  text-align: center;
  width: 350px;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: darkmagenta;
  border-radius: 3px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;
  font-size: 100%;
  height: 38px;
  line-height: 1.15;
  margin: 12px 0 0 30px;
  margin-bottom: 1%;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  width: 150px;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset , rgba(50, 50, 93, 0.2) 0 6px 15px 0 , rgba(0, 0, 0, 0.1) 0 2px 2px 0 , rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.album-container {
  border: solid black 1px;
  border-radius: 5px;
}

.container-album {
  background-color: rgb(19, 11, 11);
}

.albuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-container {
  background-color: whitesmoke;
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.musics-container {
  color: white;
  display: flex;
  justify-content: center;
}

.img-album {
  width: 200px;
}

.section-part1 {
  margin: 160px 150px 30px 20px ;
}

.audio-container {
  margin: 30px 0;
}